src/main/mule/time-tracking-put-time-clock-events.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">
	<configuration-properties file="mule-app.properties"/>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4691b455-fd0c-4b05-9011-686c80738c99" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<workday:config name="Workday_Config_version_35" doc:name="Workday Config version 35" doc:id="63220581-77c3-4c98-b71c-dc12f92e3688" >
		<workday:basic-authentication-api-connection userName="${workday.username}" password="${workday.password}" tenantName="${workday.tenantname}" hostName="${workday.hostname}"/>
	</workday:config>
	<flow name="timetracking-put-time-clock-events-get-form" doc:id="74b1f59a-1e7f-4c1c-b7e7-78ffd8bf2cb7" >
		<http:listener config-ref="HTTP_Listener_config" path="/" doc:name="/" doc:id="3189d04f-8195-4a81-8c7b-86c2c8100796" />
		<parse-template location="form.html" doc:name="Parse Template" doc:id="7dd206ce-921c-40ac-99ed-b58e7aa21612" />
	</flow>
	<flow name="create-position" doc:id="a87c121e-c18c-4acf-abd1-3827cda59f47" >
		<http:listener config-ref="HTTP_Listener_config" path="/create-position" doc:name="/create-position" doc:id="bf83baa9-d765-4625-a18d-3899f84e9837" />
		<logger level="INFO" doc:name="Logger" doc:id="6c7b3bad-cbff-4cf1-b949-ef1a70f49997" />
		<ee:transform doc:name="Transform Message" doc:id="b73c1abf-d1c2-4840-82fc-526c067a15e8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#"Create_Position_Request" @(ns0#version: "v35.0"): {
		ns0#"Business_Process_Parameters": {
			ns0#"Auto_Complete": true,
			ns0#"Run_Now": true
		},
		ns0#"Create_Position_Data": {
			ns0#"Supervisory_Organization_Reference": {
				ns0#ID @(ns0#"type": "Organization_Reference_ID"): payload.organizationReferenceID
			},
			ns0#"Position_Data": {
				ns0#"Job_Posting_Title": payload.jobPostingTitle
			},
			ns0#"Position_Group_Restrictions_Data": {
				ns0#"Availability_Date": payload.availabilityDate,
				ns0#"Earliest_Hire_Date": payload.earliestHireDate
			},
			ns0#"Edit_Assign_Organization_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Request_Default_Compensation_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			
			ns0#"Assign_Pay_Group_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Assign_Costing_Allocation_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#"Create_Position_Request" @(ns0#version: "v32.1"): {
		ns0#"Business_Process_Parameters": {
			ns0#"Auto_Complete": true,
			ns0#"Run_Now": true
		},
		ns0#"Create_Position_Data": {
			ns0#"Supervisory_Organization_Reference": {
				ns0#ID @(ns0#"type": "Organization_Reference_ID"): payload.organizationReferenceID
			},
			ns0#"Position_Data": {
				ns0#"Job_Posting_Title": payload.jobPostingTitle
			},
			ns0#"Position_Group_Restrictions_Data": {
				ns0#"Availability_Date": payload.availabilityDate,
				ns0#"Earliest_Hire_Date": payload.earliestHireDate
			},
			ns0#"Edit_Assign_Organization_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Request_Default_Compensation_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			
			ns0#"Assign_Pay_Group_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Assign_Costing_Allocation_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:staffing operation="Create_Position" doc:name="Staffing || Create_Position" doc:id="1abe29cf-5688-4fb2-b5c0-9737e516fea8" config-ref="Workday_Config_version_35"/>
		<ee:transform doc:name="Transform Message" doc:id="d4bebce7-2f65-4e57-9131-6e2dc5d735f5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID: payload.ns0#Create_Position_Response.ns0#Position_Reference[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ebc576f3-f0e0-4ed9-9714-c633cc255b7e" />
	</flow>
	<flow name="create-applicant" doc:id="c31653cb-aa4a-4572-9bdb-37400b543a56" >
		<http:listener config-ref="HTTP_Listener_config" path="/putApplicant" doc:name="/putApplicant" doc:id="25cd7443-278d-46b8-87b1-2a92e51f4134" />
		<logger level="INFO" doc:name="Logger" doc:id="0682e78a-da1f-44d4-b9c0-cbd6b7d3be36" />
		<ee:transform doc:name="Transform Message" doc:id="052f8eac-6045-4a6b-a052-908d8ca13a13" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#"Put_Applicant_Request" @(ns0#version: "v35.0"): {
		ns0#"Applicant_Data": {
			ns0#"Personal_Data": {
				ns0#"Name_Data": {
					ns0#"Legal_Name_Data": {
						ns0#"Name_Detail_Data": {
							ns0#"Country_Reference": {
								ns0#ID @(ns0#"type": "ISO_3166-1_Alpha-2_Code"): payload.countryIDValue
							},
							ns0#"First_Name": payload.firstName,
							ns0#"Last_Name": payload.lastName
						}
					}
				},
				ns0#"Contact_Data": {
					ns0#"Email_Address_Data": {
						ns0#"Email_Address": payload.email,
						ns0#"Usage_Data" @(ns0#Public: true): {
							ns0#"Type_Data" @(ns0#Primary: true): {
								ns0#"Type_Reference": {
									ns0#ID @(ns0#"type": "Communication_Usage_Type_ID"): "Home"
								}
							}
						}
					}
				}
			},
			ns0#"Recruiting_Data": {
				ns0#"Ineligible_for_Hire": false,
				ns0#"Positions_Considered_for_Reference": {
					ns0#ID @(ns0#"type": "Position_ID"): payload.applicantPositionIDValue
				}
			},
			ns0#"Background_Check_Data": {
				ns0#"Status_Date": payload.statusDate,
				ns0#"Status_Reference": {
					ns0#ID @(ns0#"type": "Background_Check_Status_ID"): payload.backgroundCheckStatusIDValue
				}
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#"Put_Applicant_Request" @(ns0#version: "v35.0"): {
		ns0#"Applicant_Data": {
			ns0#"Personal_Data": {
				ns0#"Name_Data": {
					ns0#"Legal_Name_Data": {
						ns0#"Name_Detail_Data": {
							ns0#"Country_Reference": {
								ns0#ID @(ns0#"type": "ISO_3166-1_Alpha-2_Code"): payload.countryIDValue
							},
							ns0#"First_Name": payload.firstName,
							ns0#"Last_Name": payload.lastName
						}
					}
				},
				ns0#"Contact_Data": {
					ns0#"Email_Address_Data": {
						ns0#"Email_Address": payload.email,
						ns0#"Usage_Data" @(ns0#Public: true): {
							ns0#"Type_Data" @(ns0#Primary: true): {
								ns0#"Type_Reference": {
									ns0#ID @(ns0#"type": "Communication_Usage_Type_ID"): "Home"
								}
							}
						}
					}
				}
			},
			ns0#"Recruiting_Data": {
				ns0#"Ineligible_for_Hire": false,
				ns0#"Positions_Considered_for_Reference": {
					ns0#ID @(ns0#"type": "Position_ID"): payload.applicantPositionIDValue
				}
			},
			ns0#"Background_Check_Data": {
				ns0#"Status_Date": payload.statusDate,
				ns0#"Status_Reference": {
					ns0#ID @(ns0#"type": "Background_Check_Status_ID"): payload.backgroundCheckStatusIDValue
				}
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:staffing operation="Put_Applicant" doc:name="Staffing || Put_Applicant" doc:id="2779174f-7661-486d-bd28-693724113af3" config-ref="Workday_Config_version_35"/>
		<ee:transform doc:name="Transform Message" doc:id="45a6502f-0699-4a1b-9302-2461fc5ef888" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID: payload.ns0#Put_Applicant_Response.ns0#Applicant_Reference[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ecdb2cdb-2aeb-42b1-a1c2-948f3574a0b1" />
	</flow>
	<flow name="hire-employee" doc:id="797583b1-123b-4313-89fb-634c31bb3388" >
		<http:listener config-ref="HTTP_Listener_config" path="/hire-employee" doc:name="/hire-employee" doc:id="d0064102-76af-4802-ae57-148511e7389d" />
		<logger level="INFO" doc:name="Logger" doc:id="9adb1e5a-e82d-47a3-9e3a-4c3e1cccfd92" />
		<ee:transform doc:name="Transform Message" doc:id="bf845bcc-5923-4817-b93b-419263c88f8e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#"Hire_Employee_Request" @(ns0#version: "v35.0"): {
		ns0#"Business_Process_Parameters": {
			ns0#"Auto_Complete": true
		},
		ns0#"Hire_Employee_Data": {
			ns0#"Applicant_Reference": {
				ns0#ID @(ns0#"type": "Applicant_ID"): payload.applicantIDValue
			},
			ns0#"Organization_Reference": {
				ns0#ID @(ns0#"type": "Organization_Reference_ID"): payload.organizationReferenceIDValue
			},
			ns0#"Position_Reference": {
				ns0#ID @(ns0#"type": "Position_ID"): payload.positionIDValue
			},
			ns0#"Hire_Date": payload.hireDate,
			ns0#"Hire_Employee_Event_Data": {
				ns0#"Employee_Type_Reference": {
					ns0#ID @(ns0#"type": "Employee_Type_ID"): payload.employeeTypeIDValue
				},
				ns0#"Position_Details": {
					ns0#"Job_Profile_Reference": {
						ns0#ID @(ns0#"type": "Job_Profile_ID"): payload.jobProfileIDValue
					},
					ns0#"Location_Reference": {
						ns0#ID @(ns0#"type": "Location_ID"): payload.locationIDValue
					},
					ns0#"Position_Time_Type_Reference": {
						ns0#ID @(ns0#"type": "Position_Time_Type_ID"): payload.positionTimeTypeIDValue
					}
				}
			},
			ns0#"Propose_Compensation_for_Hire_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#"Auto_Complete": true
				}
			},
			ns0#"Update_ID_Information_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Government_IDs_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Passports_and_Visas_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_License_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Custom_IDs_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Assign_Organization_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Assign_Pay_Group_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Review_Payroll_Interface_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Request_One_Time_Payment_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Request_Stock_Grant_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Create_Workday_Account_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Assign_Matrix_Organization_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Change_Personal_Information_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Create_Provisioning_Event_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Create_Benefit_Life_Event_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Maintain_Employee_Contracts_Sub_Business_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Service_Dates_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Remove_Retiree_Status_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			
			ns0#"Check_Position_Budget_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Assign_Costing_Allocation_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Background_Check_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Add_Academic_Appointment_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Assign_Employee_Collective_Agreement_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#"Hire_Employee_Request" @(ns0#version: "v35.0"): {
		ns0#"Business_Process_Parameters": {
			ns0#"Auto_Complete": true
		},
		ns0#"Hire_Employee_Data": {
			ns0#"Applicant_Reference": {
				ns0#ID @(ns0#"type": "Applicant_ID"): payload.applicantIDValue
			},
			ns0#"Organization_Reference": {
				ns0#ID @(ns0#"type": "Organization_Reference_ID"): payload.organizationReferenceIDValue
			},
			ns0#"Position_Reference": {
				ns0#ID @(ns0#"type": "Position_ID"): payload.positionIDValue
			},
			ns0#"Hire_Date": payload.hireDate,
			ns0#"Hire_Employee_Event_Data": {
				ns0#"Employee_Type_Reference": {
					ns0#ID @(ns0#"type": "Employee_Type_ID"): payload.employeeTypeIDValue
				},
				ns0#"Position_Details": {
					ns0#"Job_Profile_Reference": {
						ns0#ID @(ns0#"type": "Job_Profile_ID"): payload.jobProfileIDValue
					},
					ns0#"Location_Reference": {
						ns0#ID @(ns0#"type": "Location_ID"): payload.locationIDValue
					},
					ns0#"Position_Time_Type_Reference": {
						ns0#ID @(ns0#"type": "Position_Time_Type_ID"): payload.positionTimeTypeIDValue
					}
				}
			},
			ns0#"Propose_Compensation_for_Hire_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#"Auto_Complete": true
				}
			},
			ns0#"Update_ID_Information_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Government_IDs_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Passports_and_Visas_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_License_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Custom_IDs_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Assign_Organization_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Assign_Pay_Group_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Review_Payroll_Interface_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Request_One_Time_Payment_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Request_Stock_Grant_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Create_Workday_Account_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Assign_Matrix_Organization_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Change_Personal_Information_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Create_Provisioning_Event_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Create_Benefit_Life_Event_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Maintain_Employee_Contracts_Sub_Business_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Service_Dates_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Remove_Retiree_Status_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			
			ns0#"Check_Position_Budget_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Assign_Costing_Allocation_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Edit_Background_Check_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Add_Academic_Appointment_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			},
			ns0#"Assign_Employee_Collective_Agreement_Sub_Process": {
				ns0#"Business_Sub_Process_Parameters": {
					ns0#Skip: true
				}
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:staffing operation="Hire_Employee" doc:name="Staffing || Hire_Employee" doc:id="62a4b161-7825-448c-8c4d-1f8998ec84e1" config-ref="Workday_Config_version_35"/>
		<ee:transform doc:name="Transform Message" doc:id="4fb9da87-24ef-4261-b2d7-26a81799a4eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID: payload.ns0#Hire_Employee_Event_Response.ns0#Employee_Reference[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f49ce13a-a76d-419b-9d81-8c09de858369" />
	</flow>
	<flow name="put-time-clock-events" doc:id="f7903ee3-e9b3-4928-a336-e78e7278e94c" >
		<http:listener config-ref="HTTP_Listener_config" path="/put-time-clock-events" doc:name="/put-time-clock-events" doc:id="8288792c-df87-4ddf-acd4-de4e32e5d375" />
		<logger level="INFO" doc:name="Logger" doc:id="0ca42523-cd0a-49d3-857a-767dc26f3669" />
		<ee:transform doc:name="Transform Message" doc:id="cbb11709-9266-4645-8ff4-0307ff697fa8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#"Put_Time_Clock_Events_Request" @(ns0#version: "v35.0"): {
		ns0#"Time_Clock_Event_Data": {
			ns0#"Employee_ID": payload.employeeIDValue,
			ns0#"Time_Clock_Event_Date_Time": payload.timeClockEventDateTime,
			ns0#"Time_Entry_Code": payload.entryCode,
			ns0#"Clock_Event_Type_Reference": {
				ns0#ID @(ns0#"type": "Clock_Event_Type"): payload.clockEventTypeIDValue
			},
			ns0#Gift: payload.giftID
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#"Put_Time_Clock_Events_Request" @(ns0#version: "v35.0"): {
		ns0#"Time_Clock_Event_Data": {
			ns0#"Employee_ID": payload.employeeIDValue,
			ns0#"Time_Clock_Event_Date_Time": payload.timeClockEventDateTime,
			ns0#"Time_Entry_Code": payload.entryCode,
			ns0#"Clock_Event_Type_Reference": {
				ns0#ID @(ns0#"type": "Clock_Event_Type"): payload.clockEventTypeIDValue
			},
			ns0#Gift: payload.giftID
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:time-tracking operation="Put_Time_Clock_Events" doc:name="Time tracking || Put_Time_Clock_Events" doc:id="f97ef6bd-f368-402c-b139-1b6ce12f69a7" config-ref="Workday_Config_version_35"/>
		<ee:transform doc:name="Transform Message" doc:id="c01dbdef-0007-4c41-8903-afd9fa2e9fb3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	Response : payload.ns0#Put_Time_Clock_Events_Response.ns0#Response_Text
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9a2b67af-6ad4-4b42-9e6a-4447d3083560" />
	</flow>
	</mule>
